<div style="float: right;">
    <span id="check_24h"></span>
</div>
<h1>Edit check "<%= check.name %>"</h1>
<% if (info.length) { %>
<div class="alert alert-success"><%= info %></div>
<% } %>
<%- partial('_check_details', { check: check, pollerCollection: pollerCollection, pollerDetails: pollerDetails, route: route }) %>
<div>
</div>
<script>
jQuery(function($) {
    // highlight current section in main nav
    activateMenu(1);

    // update check state live
    updateCheckState(<%- JSON.stringify(check) %>);
    socket.on('CheckEvent', function() {
        $.getJSON('/api/checks/<%= check._id %>', updateCheckState);
    });
    
    // manage pause
    $('a[name="pause"]').click(function(e) {
        e.preventDefault();
        
        var button = $(this).children('i');
        $.getJSON('/api/checks/<%= check._id %>/pause', function() {
            if(button.hasClass('fa-pause')) {
                button.removeClass('fa-pause');
                button.addClass('fa-play');
            } else {
                button.removeClass('fa-play');
                button.addClass('fa-pause');
            }
        });
    });

});
</script>
